<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
    http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">
    <display-name>just for study</display-name>

    <!-- 引入xml配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/web.xml</param-value>
    </context-param>

    <!-- 引入Java配置文件 -->
   <!--    <param-name>contextInitializerClasses</param-name>
        <param-value>org.example.spring.bean.config.ConfigureBean</param-value>
    </context-param>-->

    <!-- ContextLoadListener初始化根容器，主要负责配置、管理应用中的Service组件、Dao组件等后端组件 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- DispatcherServlet初始化Spring容器，主要配置Controller组件、视图解析器、HandlerMapping组件等与MVC相关的组件 -->
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--
            Spring配置文件的路径，默认为<servlet-name>-servlet。指定该属性后，配置文件的路径为
            WEB-INF/<namespace>.xml，而不是WEB-INF/<servlet-name>-servlet.xml。
         -->
        <init-param>
            <param-name>namespace</param-name>
            <param-value>study</param-value>
        </init-param>
        <multipart-config>
            <location>d:/</location>
            <max-file-size>102400000</max-file-size>
            <max-request-size>102400000</max-request-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/Spring/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
